[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = git://github.com/symfony/symfony1.git
[submodule "plugins/sfGuardPlugin"]
	path = plugins/sfGuardPlugin
	url = git@github.com:olyregm/sfGuardPlugin-1.3.git
